name: Dependency Submission (Gradle)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 23 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  submit-deps:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Generate & submit dependency graph (Gradle)
        uses: gradle/actions/dependency-submission@v3
